{% extends 'dashboard/base.html.twig' %}


{% block body %}

    <div class="row">
        <div class="col-3">
            <div class="block">
                <div class="top">
                    26
                </div>
                <div class="bottom">
                    view details
                </div>
            </div>
        </div>
    </div>

{% endblock %}